<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mostusedwordsfunction20240423123426.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/12c85302-aaf6-460c-b2b9-9d701d3ee7ee/resourcegroups/MostUsedWordsFunction20240423123426ResourceGroup/providers/Microsoft.Web/sites/MostUsedWordsFunction20240423123426</ResourceId>
    <UserName>$MostUsedWordsFunction20240423123426</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://mostusedwordsfunction20240423123426.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>